<html>
<head>
<style>
.q
{
 border:1px solid;
 padding:10px;
 box-shadow:5px 5px 10px 10px rgba(200,250,200,0.9)
}
p{text-align:center;
color:slateblue;
text-shadow:2px 2px 4px black,2px 2px 2px blue,2px 2px 6px darkblue;
font-size:60px;
font-weight:20px}
.a{
height:100px;width:100px;border-radius:50px;background-color:rgba(250,200,200,0.8)}
</style>
</head>
<title>
TICKETS.COM
</title>
<body bgcolor="yellow">
<p class="q">Form</font></p></body>
<form action="/send1" method="POST">
    <center>
        <h2>
            <font style="font-size:30px">
                First Name:
                <input type="text" name="a">
                </input>
                <br><br><br>
                Last Name:
                <input type="text" name="b">
                <br><br><br></input>
                User name:
                <input type="text" name="c">
                <br><br><br>
                </input>
                Password:
                <input type="password" name="d">

                </input><br><br><br>
                Email: <input type="email" name="e"></input><br><br><br>
                Date of Birth: <input type="date"></input><br><br><br></h2>
        <input type="submit" class="a" value="SUBMIT">
        <input type="RESET" class="a"><br><br>
</form>
<center style="font-size:20px">
<div id="demo">
</div>
</center>
<script>
</html>
